body {
  max-width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: rgb(240, 237, 234);
}

#new-todo-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
}

#add-todo-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

#todo-list {
  list-style-type: none;
  text-align: left;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
